body {
  text-align: center;
  font-family: arial;
  font-size: 18px;
  background-color: #f4f4f4;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: #c61b1f;
  overflow: hidden;
  height: 63px;
 padding:10px 16px 10px 16px;
 border-bottom:#ccc 3px solid;
}

.navbar-nav ul{
padding:0 0 10px 0;
}

.navbar a{
  float: left;
  display: block;
  color:#f2f2f2;
  text-align:center;
  padding:20px 16px;
  text-decoration: none;
  font size: 17px;
}

.navbar ul{
  margin:0 0 0 0;
  list-style: none;
}

.navbar a:hover{
  background-color: #ddd;
  color: #000;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  box-shadow: 0 50px 5px #000;  
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  text-shadow: 0 1px 5px #000;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s; 
}

.side-nav a:hover{
  color: #fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margine-left 0.5s;
  padding:0px;
  overflow: hidden;
  width: 100%;
    margin: 0;
}

#tweetheader {
	font-family: helvetica;
	color: black;
  	background-color: #f4f4f4; 
	border-bottom:#ccc 3px solid;
	padding: 20px;
}

#topads {
	font-family: helvetica;
	color: white;
  	background-color: black;
  	border-bottom: #2893e6 3px solid;
	padding: 20px;
}

#tweetbody {
	font-family: helvetica;
	color: black;
  	background-color: #f4f4f4;
	border-bottom:#2893e6 3px solid;
	padding: 20px;
}

#tweetbody a{
text-decoration: none;
color: blue;
}

#tweetbody a:hover{
color: navy;
}

#tweetGen {
  padding: 10px 15px;
  font-size: 8px;
  text-align: center;
  	text-transform: uppercase;
    font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2893e6;
  border: none;
  border-radius: 1px;
  box-shadow: 0 9px #999;
}

#tweetGen:hover {background-color: #1465a3}

#tweetGen:active {
  background-color: #1465a3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#tweetform{
	padding: -5px;
	height: 25px;
	width: 200px;
}
}

#tweetout{
height: 100;
 width: 300px;
}

#bodyads {
  

}

.image-cropper {
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#copyBlock1 {
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2893e6;
  border: none;
  border-radius: 1px;
  box-shadow: 0 9px #999;
}

#copyBlock1:hover {
  background-color: #aaaeb0
}

#copyBlock1:active {
  background-color: #aaaeb0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#footer {
  color: black;
  text-decoration: none;
  float: center;
  background-color: #f4f4f4;
  padding: 20px;
}

#footer a{
 color: gold;
}

#footer a:hover{
 color: navy;
}


@media(max-width: 568px){
  .navbar-nav{display: none}
  #bantop{display: none}
}

@media(min-width: 568px){
  .open-slide{display: none}
  #bantopmobile{display: none}
}

