body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#008f01;
  scroll-behavior: smooth;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.header {
	font-family: Arial;
	color: #000;
	margin: auto;
	min-height: 70px;
	background-image: linear-gradient(-45deg, #ffffff, #fff);
	padding: 0 20px 0 20px;
	padding-top: 20px;
}
.header #branding {
}

.header img {
	width: 150px;
	float: left;
  border-radius: 0%;
	    position: absolute;
    left: 0px;
    top: 9.4px;
    z-index: 1;
      -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.header #nav {
	float: right;
	margin-top: 5px;
	font-weight: bold;
}
.header a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	float: right;
	transition-duration: 0.3s;
}
.header a:hover {
	color: #dc5921;
	transition-duration: 0.3s;
}
.header ul {
	margin: 0;
	padding: 0;
}
.header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

#map {
  height: 480px;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	box-shadow: 0 50px 5px #000;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #dc5921;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	text-transform: capitalize;
}
.side-nav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	text-shadow: 0 1px 5px #000;
	font-size: 22px;
	color: #fff;
	display: block;
	transition: 0.3s;
	text-align: center;
	text-transform: capitalize;
}
.side-nav a:hover {
	color: #fff;
	transition-duration: 0.3s;
}
.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
	transition-duration: 0.3s;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:1;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
  text-shadow: 0 0 5px black;
}

.pimg1{
  background-image:url('https://s3-media2.fl.yelpcdn.com/bphoto/2KI57Oj0NwnNLB-uFu4ggA/o.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('https://s3-media2.fl.yelpcdn.com/bphoto/r7FAUr1a3gSJ1N6K5x2maA/o.jpg');
  min-height:600px;
}

.pimg3{
  background-image:url('https://scontent.fslc1-2.fna.fbcdn.net/v/t1.0-9/16114466_1745327865493115_1264007567419698335_n.jpg?_nc_cat=101&_nc_ht=scontent.fslc1-2.fna&oh=8357ad90eaeee6d40f5e5938057bb330&oe=5C8FB851');
  min-height:600px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-light a{
  color: #008f01;
  text-decoration: none;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.section-dark img{
  border-radius: 10%;
  width: 25%;
}


.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#fff;
  font-size:1.5em;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#dc5921;
  color:#fff;
  padding:15px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


/* QA STARt*/

.QAH1 h1{
text-align:center;
color:#444;
}

.accordion {
  background-color: #008f01;
  color: #fff;
 cursor: -webkit-grab; cursor: grab;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
 margin-left: 0%
}

.active, .accordion:hover {
  background-color: #022d02;
  color: white;
   cursor: -webkit-grab; cursor: grab;
}

.accordion:after {
  content: '\2193';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transition: 0.4s;
}

.button .accordion:hover {
content: '\2193';
color: white;
}


.active:after {
  content: "\2191";
  color: white;
  transition: 0.4s;
}

.panel {
  padding: 0px 18px;
  background-color: #f4f4f4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
    width: 96.7%;
    margin-left: 0%
}

.footer {
	font-family: Arial;
	color: white;
	background-image: linear-gradient(-45deg, #1f1f1f, #000);
	padding: 18px;
	text-align: center;
	transition-duration: 0.3s;
	float: center;
}

.footer a {
	color: white;
	text-decoration: none;
	transition-duration: 0.3s;
}

.footer a:hover {
	color: #fc0043;
	text-decoration: underline;
	transition-duration: 0.3s;
}

/* QA END*/

/* DOESNT DISPLAY MOBILE */
@media(max-width: 568px) {
	#nav {
		display: none;
	}
    .one, .two, .three, .four, .five, .contactdesktop{
		display: none;
	}

	#bantop {
		display: none;
	}
	span.open-side {
		display: all;
	}
}
/* HIDE THESE FOR DESKTOP*/
@media(min-width: 568px) {
	.open-slide {
		display: none;
	}
	#bantopmobile {
		display: none;
	}
	span.open-side {
		display: none;
	}
	#content-mobile, .contactmobile {
		display: none;
	}
}


/*buttons */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  padding: 2em 2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}

h1, h2 {
  margin-bottom: 1em;
  line-height: 1.5;
}

h1 > small{
  color: #666;
}

h1 > small > a,
p > a{
  color: #3CB371;
  text-decoration: none;
}
h1 > small > a:hover,
p > a:hover{
  text-decoration: underline;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="submit"].btn,
button.btn {
    cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
    font-size: 0.8125em;
    padding: 0.4125em 1.25em;
}
.btn-medium {
    font-size: 0.9375em;
    padding: 1em 2em;
}
.btn-large {
    font-size: 1.0625em;
    padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
    color: #3CB371;
    border-color: #3CB371;
}
.btn-green:hover {
  background: #3CB371;
  color: #fff;
  border-color: #3CB371;
}

.btn-blue {
    color: #4682B4;
    border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;
}

.btn-orange {
    color: #FF8C00;
    border-color: #FF8C00;
}
.btn-orange:hover {
  background: #FF8C00;
  color: #fff;
  border-color: #FF8C00;
}

.btn-red {
    color: #B22222;
    border-color: #B22222;
}
.btn-red:hover {
  background: #B22222;
  color: #fff;
  border-color: #B22222;
}

.btn-gray {
    color: #808080;
    border-color: #808080;
}
.btn-gray:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;
}
