
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/Proxima Nova Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNovaT-Thin";
                          src: url('../fonts/Proxima Nova Thin.otf') format("opentype");
                        }

.desktophd {
  width               : 100%;
  min-width           : 1240px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}

.drk {
  background-color: #7E3BD2;
  color: white;
  text-align: justify;
  padding: 2em;
  height: 400px;
  margin: 0;
}

.lght {
  background-color: #00BDFF;
  color: white;
  text-align: justify;
  padding: 2em;
  height: 400px;
  margin: 0;
}

.footer {
  background-color: #222325;
  color: white;
  text-align: center;
  padding: 2em;
  height: 100px;
  margin: 0;

}

h4 {
  font-weight:100;
color: white;
letter-spacing: .1em;
}

.desktophd .gradient {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1362px;
  height              : 2552px;
  width               : 2212px;
  position            : absolute;
  margin              : 0;
  left                : 727px;
  -ms-transform       : rotate(11deg); /* IE 9 */
  -webkit-transform   : rotate(11deg); /* Chrome, Safari, Opera */
  transform           : rotate(11deg);
}
.desktophd .gradientcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1362px;
  height              : 2552px;
  width               : 2212px;
  position            : absolute;
  margin              : 0;
  left                : 727px;
  -ms-transform       : rotate(11deg); /* IE 9 */
  -webkit-transform   : rotate(11deg); /* Chrome, Safari, Opera */
  transform           : rotate(11deg);
}
.desktophd .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 336px;
  height              : auto;
  width               : 630px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.desktophd .subtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 469px;
  height              : auto;
  width               : 618px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.desktophd .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 539px;
  height              : 144px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .contact .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 144px;
  width               : 629px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .contact .enteryouremailu2026 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 618px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 29.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .contact .rectangle1 {
  background-color    : rgba(0, 189, 255, 1.0);
  top                 : 14px;
  height              : 106px;
  box-sizing          : border-box;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .contact .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 98px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 36px;
  width               : 507px;
  position            : absolute;
  margin              : 0;
  left                : 887px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

.desktophd .nav a{
  color               : white;
  text-decoration: none;
    transition-duration: .5s;
}

.desktophd .nav a:hover{
  color               : #7E3BD2;
  text-decoration: none;
    transition-duration: .5s;
}

.desktophd .nav .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 29.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .nav .courses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 29.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .nav .events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 257px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 29.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .nav .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNovaT-Thin", Helvetica, Arial, serif;
  font-size           : 29.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .caros {
  background-color    : rgba(255,255,255,0.0);
  top                 : 463px;
  height              : 98px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .caros .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .caros .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .caros .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .phone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : 789px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 807px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
