.container-fluid.maxx {
  padding-left: 0px;
  padding-right: 0px; }

body {
    font-family: arial;
    width: 100%;
}

html{
  scroll-behavior: smooth;
}

p {
	font-size: 1.5em;
text-align: center;
font-family: monospace;
}

/* TOP */
.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-180deg,#1db9bb, #1dbb90);
}

/* Mouse Styling */
.mouse {
  display: block;
  width: 28px;
  height: 48px;
  border-radius: 11px 11px 15px 15px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin-left: -13px;
  z-index: 9999;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	}
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
	}
}

/* SHOWCASE */
.showCase{
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
}

.colBio{
  color:white;
  background-color: #1dbb90;
}

.thanksContent{
  padding-top: 25%;
}



.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

ul{
  list-style: none;
}

/*  */

/* FOOTER CIRCLE */
#circle {
	width: 250px;
	height: 250px;
	background: url('http://entendy.com/portfolio/images/scroll.jpg') no-repeat left top;
	border-radius: 50%;
	border-style: solid;
	border-color: #1dbb90;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
#circle:hover {
  background-position: -250px 0px;
  border-color: #1db9bb;
}

.thanks{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.thanks{
  background-image:url("images/scribble-444.jpg");
  height: 100vh;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px black;
}

.thanksContent{
  display: block;
  align-items: center;
  justify-content: center;
}


/* header {
  position: relative;
  height: 300px;
  background-image: linear-gradient(180deg,#1dbb90, #1db9bb);
  margin-bottom: 2rem;
} */

.welcome h1 {
  color: #fff;
  font: 4em "Arial";
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}

.welcome h2 {
  color: #fff;
  font: 2em "Arial";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
}

h2 {
  font: 1.5em "Arial";
  text-align: center;
	text-transform: normal;
}

header h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}


.footer {
  display: block;
	font-family: Arial;
	color: white;
	background-image: linear-gradient(#1dbb90, #1db9bb);
	padding: 18px;
	margin-top: 0px;
	text-align: center;
	transition-duration: 0.3s;
	float: center;
}

.footer a {
	color: #def8f7;
	text-decoration: none;
	transition-duration: 0.3s;
}

.footer a:hover {
	color: #fc0043;
	text-decoration: underline;
	transition-duration: 0.3s;
}

/*buttons */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}

h1 > small > a,
p > a{
  color: #3CB371;
  text-decoration: none;
}
h1 > small > a:hover,
p > a:hover{
  text-decoration: underline;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="submit"].btn,
button.btn {
    cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */

/* Sizes */

/* Colors */
.btn-green {
    color: #1dbb90;
    border-color: #1db9bb;
}
.btn-green:hover {
  background: #1db9bb;
  color: #fff;
  border-color: #1db9bb;
}

/* HOVER EFFECTS */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #1b1b1b;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}