/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

.container-fluid.maxx {
  padding-left: 0px;
  padding-right: 0px; }

  [data-scroll] {
    transition: all 2s; }
  
  [data-scroll="in"] {
    opacity: 1;
    transform: translateX(0); }
  
  [data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px); }
  

  html,body
  {
    scroll-behavior: smooth;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
      background-color: #00263F !important;
  }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  background-color: #FFF;
  width: 80%;
  margin: auto;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
	font-size: 1.5em;
text-align: center;
}



h2 {
  font-family: 'Oswald', sans-serif;
  font: 1.5em;
  text-align: center;
	text-transform: normal;
}

.welcome h1, .colBio h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  letter-spacing: .2rem;
  text-align: center;
}

/* TOP */
.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg,#FBC150, #C83C44, #5C224B, #00263F);
}


.welcome h2 {
  color: #fff;
  font: 1.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
}

/* Mouse Styling */
.mouse {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 25px 25px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin-left: -13px;
  z-index: 9999;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #fff;
  /* margin-right: 20.2px; */
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	}
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
	}
}

/* SHOWCASE */
.showCase{
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .showCaseMobile{
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    box-sizing: border-box;
    background-color: #00263F !important;
  }
}

@media screen and (min-width: 993px) {
  .showCaseMobile {
    display: none;
  }
}


.colBio{
  color:white;
  background-color: #00263F;
  text-align: center !important;
  font-size: 1.5em;
text-align: center;
  
}


ul, li{
  font: .6em "Arial";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  line-height: 3em;
  list-style: none;
}



.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/* FOOTER CIRCLE */
#circle {
  height: 250px;
  width: 250px;
	background: url('http://entendy.com/portfolio/images/scroll.jpg') no-repeat left top;
	border-radius: 50%; 
	border-style: solid;
	border-color: #00263F;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
#circle:hover {
  background-position: -250px 0px;
  border-color: #00263F;
}

.thanks{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.thanks{
  background-image:url("images/scribble-444.jpg");
  height: 100vh;
	text-shadow: 0 0 2px black;
}

.thanksContent{
  position: absolute;   
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.thanksContent h1 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.thanksContent h2 {
  font-family: Arial;
  color: #fff;
  font-size: .7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: 1rem;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}


footer {
  display: block;
  font-family: 'Oswald', sans-serif;
	color: white;
	background-image: linear-gradient(-180deg,#00263F, #1b1b1b);
	padding: 18px;
	margin-top: 0px;
	text-align: center;
	transition-duration: 0.3s;
	float: center;
}




/*buttons */

/* Colors */
a.conTact{
  text-decoration: none;
}
a.conTact:hover{
  text-decoration: none;
}

button.btn-green {
  display: block;
    color: #fff;
    background-color:#C83C44;
    margin: auto;
    width: 300px;
    text-decoration: none;
}
button.btn-green:hover {
  color: white;
  background-color: #00263F;
  text-decoration: none;
}

/* HOVER EFFECTS */

@media only screen and (max-width: 991px) {

  }
}

@media screen and (min-width: 993px) {
  
  }
}
.hovereffect {
  color: #FFF;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #5C224B;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}